#combo {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	/* background-image: url("./SUPERLIGA_combo.png");
	background-repeat: no-repeat; */
	width: 1920px;
	height: 1080px;
	white-space: nowrap;

	opacity: 1;
	overflow: visible;

	background-clip: content-box;
}

.combo_container {
	width: 654px;
	height: 227px;
}

.combo_nameStrap {
	position: absolute;
	left: 80px;
	top: 17px;
	width: 632px;
	height: 60px;
	display: grid;
	grid-template-columns: 145px auto;
	grid-template-rows: 1fr 1fr;
}

.combo_Logo {
	grid-row: 1 /3;
	grid-column: 1/2;
}

.combo_name {
	grid-row: 1 /2;
	grid-column: 2/3;
	font-family: "IndustryBlack";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 34px;
	padding-left: 12px;
	letter-spacing: 0.5px;
}

.combo_statsRow {
	grid-row: 2 /3;
	grid-column: 2/3;
	display: flex;
	gap: 20px;
	justify-content: flex-start;
}
.combo_stats_category_container {
	display: flex;
	gap: 12px;
}
.combo_stats_category {
	font-family: "IndustryBook";
	font-weight: normal;
	text-transform: uppercase;
	color: #ff6d00;
	font-size: 19px;
	line-height: 15px;
	padding-left: 12px;
}

.combo_stats_digits {
	font-family: "IndustryBold";
	font-weight: bold;
	font-size: 28px;
	line-height: 12px;
}

.combo_centerRow {
	position: absolute;
	left: 80px;
	top: 77px;
	width: 644px;
	height: 77px;
	display: flex;
}

.combo_teamsNameA,
.combo_teamsNameB {
	font-size: 34px;
	min-width: 145px;
	text-align: center;
	font-family: "IndustryBlack";
	font-weight: bold;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.combo_teamsNameB {
	min-width: 133px;
}

.combo_logo {
	min-width: 90px;
}

.combo_teamsScoreA,
.combo_teamsScoreB {
	font-size: 61px;
	min-width: 138px;
	line-height: 68px;
	text-align: center;
	font-family: "IndustryBlack";
	font-weight: bold;
	font-variant-numeric: tabular-nums;
	letter-spacing: -2px;
}

.combo_downRow {
	position: absolute;
	left: 80px;
	top: 153px;
	width: 617px;
	height: 91px;
}

.combo_bottom_first {
	position: absolute;
	height: 45px;
	display: flex;
	font-family: "IndustryBlack";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 18px;
	line-height: 41px;
	clip-path: inset(0 0 100% 0);
}

.combo_bottom_first.on {
	clip-path: inset(0 0 0 0);
}

.combo_bottom_leftEmptyGoal,
.combo_bottom_rightEmptyGoal {
	text-align: center;
	letter-spacing: 2px;
}

.combo_bottom_leftEmptyGoal {
	width: 236px;
	padding-left: 14px;
}

.combo_bottom_rightEmptyGoal {
	width: 236px;
}

.combo_clock {
	display: flex;
	justify-content: center;
	font-family: "IndustryBlack";
	font-weight: bold;
	color: black;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 3px;
}

.combo_clock_bkg {
	position: absolute;
	top: 0;
	left: 234px;
	width: 159px;
	height: 46px;
	background-image: url("./COMBO_CZAS.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.combo_clock_minutes {
	width: 54px;
	padding-left: 6px;
	position: relative;
	font-variant-numeric: tabular-nums;
	text-align: right;
}
.combo_clock_seconds {
	position: relative;
	width: 59px;
	text-align: left;
	font-variant-numeric: tabular-nums;
}

.combo_clock_separator {
	position: relative;
	line-height: 36px;
	color: #777777;
	text-align: center;
}

.combo_bottom_second {
	position: absolute;
	top: 0;
	height: 45px;
	display: flex;
	justify-content: space-between;
	font-family: "IndustryBlack";
	font-weight: bold;
	width: 615px;
    padding-left: 13px;
}

.combo_bottom_second.off {
	clip-path: inset(0 0 100% 0);
}

.combo_bottom_clocksA,
.combo_bottom_clocksB {
	display: flex;
	min-width: 231px;
}

.combo_bottom_clocksA {
	flex-direction: row-reverse;
}

.combo_bottom_clocksA {
	min-width: 242px;
}

.combo_bottom_smallClock {
	position: relative;
	min-width: 77px;
	letter-spacing: 1px;
	font-size: 23px;
	line-height: 43px;
	font-variant-numeric: tabular-nums;
}

.combo_bottom_smallClock.smallClock-enter {
	opacity: 0;
	max-width: 0;
}

.combo_bottom_smallClock.smallClock-enter-active {
	opacity: 1;
	transition: opacity 200ms 0ms;
}

.combo_bottom_smallClock.smallClock-exit-active {
	opacity: 0;
	transition: opacity 200ms 0ms;
}

.combo_bottom_smallClock::before {
	content: ' ';
	position: absolute;
	background-image: url('./COMBO_KARY.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 0;
	left: -18px;
	width: 88px;
	height: 46px;
	z-index: -1;
}

.combo_layer_1 {
	position: absolute;
	top: 64px;
	left: 67px;
	opacity: 1 !important;
}

.combo_layer_2 {
	position: absolute;
	top: 64px;
	left: 67px;
	background-image: url("./COMBO_BT.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 669px;
	height: 101px;
}

.combo_penalties_layer {
	position: absolute;
	top: 144px;
	left: 78px;
	background-image: url('./KARNE_COMBO.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 633px;
	height: 66px;
}

.combo_penalties_layer .combo_circlesA,
.combo_penalties_layer .combo_circlesB {
	position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    top: 24px;
    left: 18px;
    width: 227px;
}

.combo_penalties_layer .combo_circlesB {
	left: 388px;
}

.combo_circle {
	width: 17px;
	height: 17px;
	border-radius: 100%;
}

.combo_circle.red {
	background-color: #ba0201;
}

.combo_circle.green {
	background-color: #2bde2a;
}

#combo.on .combo_penalties_layer.show {
	opacity: 1;
	transition: opacity 100ms 700ms;
}

#combo.off .combo_penalties_layer.show,
#combo .combo_penalties_layer.hide {
	opacity: 0;
	transition: opacity 100ms 1000ms;
}

.combo_penalties_cover {
	position: absolute;
	top: 144px;
	left: 78px;
}

.combo_goal_flags {
	position: absolute;
	top: 64px;
	left: 67px;
	width: 669px;
	height: 101px;
}

.combo_goalFlagA,
.combo_goalFlagB {
	position: absolute;
	top: 21px;
	width: 173px;
	height: 61px;
	left: 141px;
	clip-path: polygon(0 100%, 18px 0, 100% 0, calc(100% - 18px) 100%);
	background-color: white;
	background-image: url("./COMBO_GOL_B.png");
	background-repeat: no-repeat;
	background-position: 49% 46%;
	transition: 0.2s transform ease-in;
}

.combo_goalFlagA.dark,
.combo_goalFlagB.dark {
	background-image: url("./COMBO_GOL_B.png");
}

.combo_goalFlagA.light,
.combo_goalFlagB.light {
	background-image: url("./COMBO_GOL_W.png");
}

.combo_goalFlagA.run-animation,
.combo_goalFlagB.run-animation {
	transition: 0.2s transform ease-out;
}

.combo_goalFlagA.run-animation {
	transform: translate(-136px, 0);
}

.combo_goalFlagB {
	left: 373px;
	background-position: 54% 46%;
}

.combo_goalFlagB.run-animation {
	transform: translate(136px, 0);
}

#combo.off > .combo_container > .combo_container {
	opacity: 0;
	transition: opacity 500ms 1900ms;
}

#combo.on > .combo_container > .combo_teamNames,
#combo.on > .combo_container > .combo_goal_flags,
#combo.on > .combo_container > .combo_layer_2 {
	opacity: 1;
	transition: opacity 100ms 600ms;
}

#combo.off > .combo_container > .combo_teamNames,
#combo.off > .combo_container > .combo_goal_flags,
#combo.off > .combo_container > .combo_layer_2 {
	opacity: 0;
	transition: opacity 0s 500ms;
}

#combo.on > .combo_container > .combo_score {
	opacity: 1;
	transition: opacity 200ms 600ms;
}

#combo.off > .combo_container > .combo_score {
	opacity: 0;
	transition: opacity 200ms 300ms;
}

#combo.on > .combo_container > .combo_downRow,
#combo.on > .combo_container > .combo_downRow > .combo_bottom_first.on {
	clip-path: inset(0 -10px 0 -10px);
	transition: clip-path 600ms 600ms, visibility 0s 600ms;
	visibility: visible;
}

#combo.on > .combo_container > .combo_downRow > .combo_bottom_first.on .combo_clock_minutes,
#combo.on > .combo_container > .combo_downRow > .combo_bottom_first.on .combo_clock_separator,
#combo.on > .combo_container > .combo_downRow > .combo_bottom_first.on .combo_clock_seconds {
	opacity: 1;
	transition: opacity 400ms 700ms;
}

#combo.off > .combo_container > .combo_downRow,
#combo > .combo_container > .combo_downRow > .combo_bottom_first.off {
	clip-path: inset(0 -10px 100% -10px);
	transition: clip-path 500ms 0ms ease-in, visibility 0s 500ms;
	visibility: hidden;
}

#combo.off > .combo_container > .combo_downRow > .combo_bottom_first .combo_clock_minutes,
#combo.off > .combo_container > .combo_downRow > .combo_bottom_first .combo_clock_separator,
#combo.off > .combo_container > .combo_downRow > .combo_bottom_first .combo_clock_seconds,
#combo > .combo_container > .combo_downRow > .combo_bottom_first.off .combo_clock_minutes,
#combo > .combo_container > .combo_downRow > .combo_bottom_first.off .combo_clock_separator,
#combo > .combo_container > .combo_downRow > .combo_bottom_first.off .combo_clock_seconds {
	opacity: 0;
	transition: opacity 500ms 100ms;
}

#combo.on {
	visibility: visible;
	transition: visibility 500ms 0s ease-out;
}

#combo.off {
	visibility: hidden;
	transition: visibility 0s 2500ms;
}
